/* styles/Login.module.css */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: #f0f0f0;
  }
  
  .form {
    background-color: white;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  .inputGroup {
    margin-bottom: 1rem;
  }
  
  .inputGroup label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .inputGroup input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .button {
    width: 100%;
    padding: 0.5rem;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #005bb5;
  }
  